<html>
<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    <link href="http://fonts.googleapis.com/css?family=Kaushan+Script&subset=latin,latin-ext"
        rel="stylesheet" type="text/css">
</head>
<body>

<form action="{{url_for('editRestaurant', restaurant_id=restaurant_id )}}" method = 'POST'>

<div class="restaurant">
<dl>
<dt>Name:</dt><br>
<dd><input type='text' size='30' name='name' placeholder='{{item.name}}'></dd><br>

</dl></div>
<input type='submit' value='Edit'>

</form>
<br>
<a href="/restaurants">Go back to list of restaurants</a>

</body>

</html>
