<html>
<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    <link href="http://fonts.googleapis.com/css?family=Kaushan+Script&subset=latin,latin-ext"
        rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:700' rel='stylesheet' type='text/css'>
</head>
<body>
<h1> New Menu Item </h1>

<form action="{{url_for('newMenuItem', restaurant_id=restaurant_id )}}" method = 'POST'>

<div class="menuitem">
<dl>
<dt>Name:</dt><br>
<dd><input type='text' size='30' name='name' ></dd><br>
<dt>Description:</dt><br>
<dd><input type='text' size='80' name='description'></dd><br>
<dt>Price:</dt><br>
<dd><input type='text' size='10' name='price'></dd><br>

<dt>Course:</dt><br>

        <dd><input type ='radio' name='course' value='Appetizer' >Appetizer</dd>

        <dd><input type ='radio' name='course' value='Entree'>Entree</dd>

        <dd><input type ='radio' name='course' value='Dessert'>Dessert</dd>

        <dd><input type ='radio' name='course' value='Beverage'>Beverage</dd>

        <dd><input type ='radio' name='course' value='Other'>Other Item</dd>


</dl></div>
<input type='submit' value='Create'>

</form>
<br>
<a href="{{url_for('showMenu', restaurant_id=restaurant_id)}}">Go back to restaurant menu</a>

</body>
</html>
